:root {
    --board_w: 560px; /* PRODUCT OF 8 * board_h */
    --board_h: 70px;
    --board_dark: #d18b47;
    --board_white: #FFCE9E;
    --piece_BLK: black;
    --piece_WHI: white;
}

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/arvo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.toast {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 400px;
  padding: 20px;
  background: #cccccc;
  font-family: 'Arvo', serif;
  color: #333333;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  border: 2px solid #aaaaaa;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
  transition: opacity 0.2s, 
              top 0.2s, 
              visibility 0.2s;
}

.toast--visible {
  top: 10px;
  opacity: 1;
  visibility: visible;
}

.toast--success {
  background: #28a745;
  border-color: #28a745;
  color: #ffffff;
}

.toast--error {
  background: #dc3545;
  border-color: #dc3545;
  color: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Arvo', serif;
}

div#top-container {
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    width: 760px; /*sum of the widhts main, #BLK-attacked, #WHI-attacked */
}

h4#who_is_playing,
h4#time_BLK,
h4#time_WHI {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    margin: 10px 0px;
}

div#main-container {
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

div#BLK-attacked,
div#WHI-attacked {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100px;
    height: auto;
    background-color: rgb(77, 77, 77);
}

div#BLK-attacked {
    align-content: flex-start;
}

div#WHI-attacked {
    align-content: flex-end;
}

div#BLK-attacked > img,
div#WHI-attacked > img {
    width: 45px;
    height: 45px;
}

main {
    border: 1px solid black;
    width: var(--board_w);
    height: var(--board_w);
}

div.row {
    display: flex;
    width: var(--board_w);
    height: var(--board_h);
}

div.col {
    display: flex;
    width: var(--board_h);
    height: var(--board_h);
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 800;
    background-color: var(--board_white);
}

div.col.dark {
    background-color: var(--board_dark);
}

div.BLK {
    color: var(--piece_BLK);
}

div.WHI {
    color: var(--piece_WHI);
}

div.selected {
    border: 5px solid yellowgreen;
}

div.validmove {
    background-color: plum !important;
}