:root {
    --board_w: 560px; /* PRODUCT OF 8 * board_h */
    --board_h: 70px;
    --board_dark: #d18b47;
    --board_white: #FFCE9E;
    --piece_BLK: black;
    --piece_WHI: white;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
}

div#top-container {
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    width: 760px; /*sum of the widhts main, #BLK-attacked, #WHI-attacked */
}

h4#who_is_playing,
h4#time_BLK,
h4#time_WHI {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    margin: 10px 0px;
}

div#main-container {
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

div#BLK-attacked,
div#WHI-attacked {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100px;
    height: auto;
    background-color: rgb(77, 77, 77);
}

div#BLK-attacked {
    align-content: flex-start;
}

div#WHI-attacked {
    align-content: flex-end;
}

div#BLK-attacked > img,
div#WHI-attacked > img {
    width: 45px;
    height: 45px;
}

main {
    border: 1px solid black;
    width: var(--board_w);
    height: var(--board_w);
}

div.row {
    display: flex;
    width: var(--board_w);
    height: var(--board_h);
}

div.col {
    display: flex;
    width: var(--board_h);
    height: var(--board_h);
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 800;
    background-color: var(--board_white);
}

div.col.dark {
    background-color: var(--board_dark);
}

div.BLK {
    color: var(--piece_BLK);
}

div.WHI {
    color: var(--piece_WHI);
}

div.selected {
    border: 5px solid yellowgreen;
}

div.validmove {
    background-color: plum !important;
}