:root {
    --board_w: 560px; /* PRODUCT OF 8 * board_h */
    --board_h: 70px;
    --board_dark: #d18b47;
    --board_white: #FFCE9E;
    --piece_BLK: black;
    --piece_WHI: white;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    border: 1px solid black;
    margin: 0px auto;
    width: var(--board_w);
    height: var(--board_w);
}

div.row {
    display: flex;
    width: var(--board_w);
    height: var(--board_h);
}

div.col {
    display: flex;
    width: var(--board_h);
    height: var(--board_h);
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 800;
    background-color: var(--board_white);
}

div.col.dark {
    background-color: var(--board_dark);
}

div.BLK {
    color: var(--piece_BLK);
}

div.WHI {
    color: var(--piece_WHI);
}

div.selected {
    border: 5px solid yellowgreen;
}

div.validmove {
    background-color: plum !important;
}